<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBfnyYx8gC5t2oh9VK3r7m_PtHMXOsbOXw</string>
	<key>GCM_SENDER_ID</key>
	<string>886596265618</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todoAppFirebase</string>
	<key>PROJECT_ID</key>
	<string>todo-app-fd638</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-app-fd638.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:886596265618:ios:449e11b65ee9df63ea684b</string>
</dict>
</plist>